<!DOCTYPE html>
<html ng-app="clack">
<head>
  <title>Clack</title>
</head>
<body ng-controller="clackController">
  <form>
    <input type="text" name="username" ng-model="username">
    <button type="submit" ng-click="addUser(username)">ADD USER</button>
  </form>
  <form>
    <input type="text" name="loadusername" ng-model="loadusername">
    <button type="submit" ng-click="loadUser(loadusername)">LOAD SCORE</button>
  </form>
  <a href="/">PLAY</a>
</body>
<script src="node_modules/angular/angular.js"></script>
<script src="client/app.js"></script>
</html>